body {
	background: white;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: Syncopate;
	font-style: 50px;
	color: white;
	margin: 0px;
	text-align: ;
	display: table-cell;
	vertical-align: top;
}
.content {
	margin-left: 40px;
	color: white;
}
.whitespace {
	color: black;
	font-family: Syncopate;
	font-weight: 600;
	font-size: 20px;
}
#box1 {
	height: 85vh;
	width: 100%;
	background-image: url("../img/image1.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#box2 {
	height: 85vh;
	width: 100%;
	background-image: url("../img/image2.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#box3 {
	height: 85vh;
	width: 100%;
	background-image: url("../img/image3.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}