body {
	background: #d9a7c7;
	background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);
	background: linear-gradient(to top, #fffcdc, #d9a7c7);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0px;
}
.maincontainer {
	margin: 0 auto;
	text-align: center;
}
.welcome {
	margin-top: 40vh;
	font-family: Syncopate;
	font-weight: 900;
	font-size: 50px;
}
.redirectbtn {
	border-color: #d9a7c7;
	border-width: 2px;
}