body {
	background: #d9a7c7;
	background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);
	background: linear-gradient(to top, #fffcdc, #d9a7c7);
	/*background-image: url("../img/homepage.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
.maincontainer a {
    margin-top: -10px !important;
    color: red !important;
}
.maincontainer {
	margin: 0 auto;
	text-align: center;
}