#Relax {
	height: calc(100vh - 110px);
	width: 100%;
	background-image: url("../img/image1.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#Sport {
	height: calc(100vh - 160px);
	width: 100%;
	background-image: url("../img/image2.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#Bindweefsel {
	height: calc(100vh - 160px);
	width: 100%;
	background-image: url("../img/image3.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#Hotstone {
	height: calc(100vh - 160px);
	width: 100%;
	background-image: url("../img/image4.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#Voetreflex {
	height: calc(100vh - 160px);
	width: 100%;
	background-image: url("../img/image5.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#Dorn {
	height: calc(100vh - 140px);
	width: 100%;
	background-image: url("../img/image6.jpg");
	background-size: cover;
	display: table;
	background-attachment: fixed;
}