body {
	background: #d9a7c7;
	background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);
	background: linear-gradient(to top, #fffcdc, #d9a7c7);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
.container {
	margin: 0 auto;
	border: 2px solid red;
}
.card {
	height: 100%;
	margin-bottom: -8px;
	margin-top: -10px;
}
img {
	margin: 0 auto;
	width: 40%;
}
.btn {
	position: absolute;
	top: 30px;
	right: 15px;
}