/* Dark Mode styles */
body.dark-theme {
    background: #d9a7c7;
	background: -webkit-linear-gradient(to top, #686868, #303030);
	background: linear-gradient(to top, #686868, #303030);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
.company-name.dark-theme{
	color: #fff;
}
/* The switch - the box around the slider */
.switch {
  	position: relative;
  	display: inline-block;
  	width: 65px;
  	height: 29px;
  	margin-top: 5px;
}
.switch input {
	display:none;
}
.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
 	right: 0;
  	bottom: 0;
  	background-color: #ccc;
  	-webkit-transition: .4s;
  	transition: .4s;
}
.slider:before {
  	position: absolute;
  	content: "";
	height: 19px;
	width: 19px;
	left: 8px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	top: 5px;
}
input:checked + .slider {
 	background-color: #212529;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.switch{
	display: none;
}